p {
    width:350px;
    text-align:left;
    font-family:'Times New Roman';
    font-size:16px;
    color:black;
}
.underline {
    text-decoration: underline;
}
.highlight {
    background-color: orange;
}
.quote {
    font-weight: bold;
    color:red;
}
a:link {
    color:blue;
}
a:visited {
    color:rgb(214, 10, 214);
}
a:hover {
    color:orange;
}