table {
    margin: 10px auto;
    text-align:center;
}
th {
    background-color:lightsalmon;
    padding: 10px;
    border: 1px solid #ddd;
}
.btn {
    text-align: center;
}
button {
    background-color: blue;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
}
button:hover {
    background-color: rgb(255, 0, 0);
}